<!-- Profiles edit -->

<div class="col-sm-8 blog-main">
  <%= form_for @profile, html: {multipart: true} do |f| %>
      <%= render(partial: "profile_form", locals: {f: f}) %>
      <%= f.submit "Save", class: "save_f" %>
  <% end %>
  <BR>
  <%= link_to("Back", profile_path(@profile.id), class: "btm_links") %>
</div> <!-- /.blog-main -->
