<!-- Profiles new -->

<div class="col-sm-8 blog-main">
  <%= form_for @profile, url: {action: "create"}, html: {multipart: true} do |f| %>
    <%= render(partial: "profile_form", locals: {f: f}) %>
    <%= f.submit "Save", class: "save_f" %>
  <% end %>
  <BR>
</div> <!-- /.blog-main -->
