<!-- Profiles show -->
<!-- <div class="col-sm-8 blog-main"> -->

<div class="col-sm-6 offset-sm-2 blog-main">
  <%= form_for @profile, html: {multipart: true} do |f| %>
    <%= render(partial: "profile_form", locals: {f: f}) %>
  <% end %>
  <BR>
  <% if @current_user && @current_user.id == @profile.user_id %>
    <%= link_to("Edit", edit_profile_path, class: "btm_links") %>
  <% end %>
  <%= link_to("Back", :back, class: "btm_links") %>

</div><!-- /.blog-main -->
