
  <div class="form-group">
    <%= comment_f.label :content, class: "post-label" %>
    <%= comment_f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= comment_f.submit "Save", class: "btn btn-primary" %>
    <a href="" class="btn btn-secondary" data-dismiss="modal">Back</a>
  </div>
