
<div class="col-sm-8 blog-main">

  <!-- Display each user who has posted along with their latest post -->
  <% @posts.each do |user_latest_post| %>
    <div class="blog-post">
      <h2 class="blog-post-title"><%= user_latest_post.title %></h2>
      <p class="blog-post-meta"><%= user_latest_post.created_at.strftime("%B %d, %Y") %> by <%= link_to("#{user_latest_post.user.username}".capitalize, posts_by_author_path(user_latest_post.user_id), method: :get, class: "post-user-link") %></p>
      <blockquote>
        <%= user_latest_post.content %>
      </blockquote>
    </div><!-- /.blog-post -->
  <% end %>

  <!-- <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav> -->

</div><!-- /.blog-main -->
