
<div class="col-sm-8 blog-main">

  <!-- Display each user along with their latest post -->
  <% @users.each do |user| %>
    <% @post=@posts.where(user_id: user.id).last %>
    <% if @post %>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= @post.title %></h2>
        <p class="blog-post-meta"><%= @post.created_at.strftime("%B %d, %Y") %> by <%= link_to("#{user.username}".capitalize, posts_by_author_path(user.id), method: :get, class: "post-user-link") %></p>
        <blockquote>
          <%= @post.content %>
        </blockquote>
      </div><!-- /.blog-post -->
    <% end %>
  <% end %>

  <!-- <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav> -->

</div><!-- /.blog-main -->
