<div class="all_divs">
  <!-- Display each user along with their latest post -->
  <% @users.each do |user| %>
    <p>
      <% @post=@posts.where(user_id: user.id).last %>
      <%= link_to("#{user.username}".capitalize, user_path(user.id), method: :get, class: "post_u") %>
  </p>
    <% if @post %>
      <p>
        <%= link_to("TITLE: #{@post.title}", post_path(@post.id), method: :get, class: "post_t") %>
      </p>
      <p class="post">
        <%= @post.content %>
      </p>
      <p>
        <span class="post_span post_dt">Date: </span>
        <%= time_tag @post.created_at %>
      </p>
    <% end %>
  <% end %>
</div>
