// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Colors-
  Neon Orange- #FBA04B
  Dogwood Rose- #D90368
  Pearly Purple- #AF5E9B
  Raisin Black- #291720
  Sacramento St. Green- #035C41 or #03583F
  Light Apricot- #FDD3AD
  font-family: 'Lobster', cursive
  font-family: 'Indie Flower', cursive
  font-family: 'Lobster Two', cursive
  */

/*  Home Page Styling*/
#home_posts_scroll{
  display: inline-block;
  position: relative;
  top: 0px;
  width: 100%;
  height: 90%;
  color: #FBA04B;
  // left: 570px;
  // padding: 20px 25px 20px 25px;
  // align-items: center;
  // background-color: #e6ecf0;
}

.home_display_post{
  animation: flipInY 5s;
}

.home_post_art{
  margin: 20px;
  font-family: 'Indie Flower', cursive;
  // font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: #FBA04B;
}

.home_post_u{
  display: block;
  border: 1px solid #4C6663;
  margin: 0;
  padding: 10px;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    color: #FBA04B;
}

.home_post_tp{
  display: none;
  position: absolute;
  background-color: #EFE9F4;
  border: 1px solid #4C6663;
  z-index: 1;
}

.home_post_u:hover span.home_post_tp{
  display: block;
}

.home_post_t{
  margin: 0;
  padding: 10px;
  color: #FDD3AD;
}

.home_post{
  margin: 0;
  padding: 10px 10px 10px 35px;
  color: #FDD3AD;
}

.home_post_dt{
  margin: 0;
  padding: 10px;
  color: #D90368;
}

.home_post_span{
  font-weight: bold;
  font-size: 22px;
  color: #FBA04B;
}

.home_all{
  margin: 0 auto;
}
