// /*  Layout.erb Styling*/
//
// /* Colors-
//  Neon Orange- #FBA04B
//  Dogwood Rose- #D90368
//  Pearly Purple- #AF5E9B
//  Raisin Black- #291720
//  Sacramento St. Green- #035C41 or #03583F
//  Light Apricot- #FDD3AD
//  font-family: 'Lobster', cursive
//  font-family: 'Indie Flower', cursive
//  font-family: 'Lobster Two', cursive;
//  */

#notice {
  background-color: yellow;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

#alert {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.sessions::after, .home::after{
  content: "Home";
}

.profile::after, .users::after, .posts::after, .comments::after{
  content: "Fishbowl";
  font-family: 'Lobster', cursive;
}

.home-index-header{
  width: 100%;
  min-height: 568px;
  position: relative;
  margin-top: 70px;
  background-image:url("fishbowl.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profiles-no-blog-header, .users-no-blog-header{
  display: none;
}

.posts-container, .users-container, .profiles-container{
  padding-top: 15px;
}
// .lay-nav{
//   // width: 100%;
//   // height: auto;
//   color: #FBA04B;
//   background-image:url("fishbowl.jpg");
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.laySignBtn{
  color: #FBA04B;
}

.avatar, .commenter-avatar, .permalink-header .avatar {

}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -moz-force-broken-image-icon: 1;
}

// twitter_core.bundle.css:1
.commenter-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -moz-force-broken-image-icon: 1;
}

// // Extra small devices (portrait phones, less than 576px)
// // No media query since this is the default in Bootstrap
//
// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .navbar-collapse, .navbar-header{
//
//   }
// }
//
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .navbar-collapse, .navbar-header{
//
//   }
// }
//
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//
// }
//
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//
// }
