// // Place all the styles related to the post controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
//
// .all_divs{
//   margin-top: 20px;
//   // position: absolute;
//   // top: 20%;
//   // left: 40%;
// }
//
// .save_f{
//   text-align: center;
//   color: #FBA04B;
//   background-color: white;
//   // margin-left: 40%;
// }
//

.post_links{
  color: #035C41;
}

.post_links:hover{
  color: #FBA04B;
}

.f_text_area{
  width: 400px;
  height: 100px;
}

// Text Editor CSS

.fr-element p, .fr-view p{
  height: 200px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.fr-sticky-dummy{
  height: 20px !important;
}

//
// .my_btm_links{
//   margin-right: 100px;
//   // font-family: 'Oswald', sans-serif;
//   color: #035C41;
// }
//
