// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof_f{
  position: relative;
  // top: 120px;
  width: 75%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 1%;
  display: block;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  color: #291720;
}
