// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .prof_f{
//   text-align: center;
//   border-bottom: none !important;
//   color: #FBA04B !important;
// }

.save_f{
  text-align: center;
  color: #FBA04B;
  background-color: transparent;
}
