// // Place all the styles related to the sessions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// // Place all the styles related to the user controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.save_f{
  text-align: center;
  color: #FBA04B;
  background-color: transparent;
  margin-left: 40%;
}

#notice {
  background-color: yellow;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

#alert {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 2px;
}
