// // Place all the styles related to the user controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// /* Colors-
//   Neon Orange- #FBA04B
//   Dogwood Rose- #D90368
//   Pearly Purple- #AF5E9B
//   Raisin Black- #291720
//   Sacramento St. Green- #035C41 or #03583F
//   Light Apricot- #FDD3AD
//   font-family: 'Lobster', cursive
//   font-family: 'Indie Flower', cursive
//   font-family: 'Lobster Two', cursive;

// .all_divs{
//   margin: 0 auto;
//   position: absolute;
//   top: 20%;
//   left: 40%;
// }

.save_f{
  text-align: center;
  color: #FBA04B;
  background-color: white;
  // margin-left: 40%;
}

.btm_links{
  margin-left: 115px;
  color: #035C41;
}

.all_f_btn{
  margin-left: 38%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  margin: 20px 20px 0px 5px;
  color: #FBA04B;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}
